<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" turma="IE=edge" />
    <meta name="viewport" turma="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="shortcut icon" href="/images/dashboard-aluno/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/user-profile/dashboard.css" />
    <link rel="stylesheet" href="/stylesheets/user-profile/estiloa1.css" />
    <script defer src="/fa/brands.js"></script>
    <script defer src="/fa/solid.js"></script>
    <script defer src="/fa/fontawesome.js"></script>
    <title>elevel - Dashboard Aluno</title>
  </head>
  <body>
    <%- include('../partials/aside-top.ejs') %>
    <a href="#" class="active"><i class="fas fa-graduation-cap"></i> Aluno</a>
    <a href="/dashboard/aluno/profile"><i class="fas fa-user"></i> Perfil</a>
    <a href="/dashboard/aluno/turmas"><i class="fas fa-users"></i> Turmas</a>
    <%- include('../partials/aside-bottom.ejs') %>
    <div class="main">
      <div class="notification">
        <img src="/images/avatar.png" class="avatar" alt="avatar" />
        <span class="badge">🔔</span>
      </div>

      <h2>Dashboard / Perfil</h2>
      <h2>Perfil atualizado com sucesso</h2>
      <h4><a href="/dashboard/aluno/profile">Voltar</a></h4>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </body>
</html>
