<header>
  <div class="container">
    <img
      src="../images/signup-signin/logo.png"
      alt="Logo Placeholder"
      class="logo"
    />
    <a href="/">
      <img
        class="hamburger-menu"
        src="../images/signup-signin/hamburguer.svg"
        alt="Botão do menu"
      />
    </a>
    <nav class="navbar">
      <a href="/#sobre" class="menu-item">Sobre</a>
      <a href="/#funcionalidades" class="menu-item">Funcionalidades</a>
      <a href="/#preços-planos" class="menu-item">Preços e planos</a>
      <a href="/contato" class="menu-item">Contato</a>
      <a href="/sign-up" class="menu-item sign-in">Cadastre-se</a>
      <a href="/sign-in" class="menu-item sign-up">Login</a>
    </nav>
  </div>
</header>
