<aside>
    <!-- <a href="#menu-toggle" class="close btn-default menu-toggle"><i class="fas fa-times"></i></a> -->
    <div class="logo"><img src="/images/dashboard-aluno/logo.png" alt="logo" height="25px"></div>
    <nav>