<a href="/"><img class="logo" src="/images/landing-page/logo-600x300.png" alt="Logotipo elevel"></a>
<nav>
    <a href="#sobre">Sobre</a>
    <a href="#funcionalidades">Funcionalidades</a>
    <a href="#form-contact">Contato</a>
    <button class="button-menu" type="button"><a href="/sign-up">Cadastre-se</a></button>
    <button class="button-menu" type="button"><a href="/sign-in">Login</a></button>
</nav>
<button class="responsive-menu" type="button">Menu</button>