<img class="logo" src="/images/landing-page/logo-600x300.png" alt="Logotipo elevel">
<nav>
    <a href="#sobre">Sobre</a>
    <a href="#funcionalidades">Funcionalidades</a>
    <a href="#preços-planos">Preços e Planos</a>
    <button class="button-menu" type="button">Cadastre-se</button>
    <button class="button-menu" type="button">Login</button>
</nav>
<button class="responsive-menu" type="button">Menu</button>