<div class="notification">
  <a href="/dashboard/<%= userInfo.tipoUser %>/profile/">
    <img src="<%= userInfo.avatar %>" class="avatar" alt="avatar" />
    <span class="badge">🔔</span>
  </a>
</div>
