<script defer src="/fa/brands.js"></script>
<script defer src="/fa/solid.js"></script>
<script defer src="/fa/fontawesome.js"></script>


<a href="#menu-toggle"  class="burger btn-default menu-toggle"><i class="fas fa-bars"></i></a>
<aside>
    <a href="#menu-toggle" class="close btn-default menu-toggle"><i class="fas fa-times"></i></a>
    <div class="logo"><img src="/images/logo.png" alt="logo" height="25px"></div>
    <nav>
        <a href="dashboard/professor/"><i class="fas fa-graduation-cap"></i> Perfil</a>
        <a href="dashboard/professor/atividades" class="activee"><i class="fas fa-file-alt"></i> Atividades</a>
        <a href="/dashboard/professor/avaliacoes"><i class="fas fa-spell-check"></i> Avaliações</a>
        <a href="/dashboard/professor/turmas"><i class="fas fa-users"></i> Turmas</a>
    </nav>
    <footer>
        <p>© 2021 <strong>Elevel.</strong></p>
        <p>Todos os direitos reservados.</p>
    </footer>
</aside>