<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/signup-signin/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../stylesheets/signup-signin/global.css" />
    <link rel="stylesheet" href="../stylesheets/signup-signin/header.css" />
    <link rel="stylesheet" href="../stylesheets/signup-signin/sign-in.css" />
    <link rel="stylesheet" href="../stylesheets/signup-signin/footer.css" />
    <title>elevel - Faça o seu login</title>
  </head>
  <body>
    <%- include('partials/header'); %>
    <main>
      <div class="container-main">
        <div class="main-box">
          <h1>Faça o seu login</h1>
          <p class="main-text">
            Novo usuário?
            <a href="/sign-up" class="main-text-link">Crie uma conta</a>
          </p>

          <form class="form" id="form" autocomplete="off">
            <span id="userError"></span>
            <input
              class="styled-input"
              type="email"
              name="email"
              id="email"
              placeholder="E-mail"
            />
            <span id="passwordError"></span>
            <input
              class="styled-input"
              type="password"
              name="senha"
              id="senha"
              placeholder="Senha"
            />

            <button class="submit-button" type="submit">Entrar</button>
          </form>
          <a href="#" class="retrieve-password">Esqueci minha senha</a>
        </div>
      </div>
      <img
        src="../images/signup-signin/signin-image.jpg"
        class="image-join"
        alt=""
      />
    </main>
    <footer>
      <p>
        © 2021 <strong>Projeto Integrador</strong> . Todos os direitos
        reservados.
      </p>
      <p>
        <a href="#">Política de Privacidade</a> · <a href="#">Termos de Uso</a>
      </p>
    </footer>
    <script src="js/user/sign-in.js"></script>
  </body>
</html>
