<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="shortcut icon" href="/images/dashboard-aluno/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/dashboard-aluno/estiloa1.css">
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <title>elevel - Dashboard Aluno</title>
</head>
<body>
    <a href="#menu-toggle" class="burger btn-default menu-toggle"><i class="fas fa-bars"></i></a>
    <aside>
        <a href="#menu-toggle" class="close btn-default menu-toggle"><i class="fas fa-times"></i></a>
        <div class="logo"><img src="/images/dashboard-aluno/logo.png" alt="logo" height="25px"></div>
        <nav>
            <a href="dashboard-alunos.html" class="active"><i class="fas fa-graduation-cap"></i> Alunos</a>
            <a href="dashboard-atividades.html"><i class="fas fa-file-alt"></i> Atividades</a>
            <a href="dashboard-avaliacoes.html"><i class="fas fa-spell-check"></i> Avaliações</a>
            <a href="dashboard-turmas.html"><i class="fas fa-users"></i> Turmas</a>
            <a href="#"><i class="fas fa-chart-bar"></i> Ranking</a>
        </nav>
        <footer>
            <p>© 2021 <strong>Elevel.</strong></p>
            <p>Todos os direitos reservados.</p>
        </footer>
    </aside>
    <div class="main">

        <div class="notification">
            <img src="/images/dashboard-aluno/avatar.png" class="avatar" alt="avatar">
            <span class="badge">🔔</span>
        </div>

        <h2>Dashboard / Área do Aluno</h2>
        <hr />
        <div class="billboard">
            <a href="#menu-toggle" class="close-bilboard btn-default"><i class="fas fa-times"></i></a>
            <h3>Olá, <%= student.nome %>! 😀</h3>
            <p>Esta é a sua área de aluno no Dashboard Elevel. Aqui você pode encontrar as turmas das quais faz parte, gerenciar atividades pendentes e verificar quantos pontos você possui em comparação com outras pessoas da mesma turma.</p>
        </div>
        <div class="tables">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Turma</th>
                        <th>Pontos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0593DV</td>
                        <td><%= student.nome %></td>
                        <td><%= classes.titulo %></td>
                        <td><%= classes.idTurma %></td>
                        <td>33.756</td>
                        <td><a href=""><i class="fas fa-edit btn-gray"></i></a>
                            <a href=""><i class="fas fa-trash btn-red"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="assets/scritps/dashboard.js"></script>
</body>
</html>