<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/global.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/landing-page/landing-page.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/landing-page/contact-us.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>elevel - Eleve o aprendizado ao próximo nível.</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <div class="main-content" id="sobre">
            <h1>Gamificação de aulas simples e fácil.</h1>
            <p>Torne suas aulas mais divertidas em uma plataforma completa para aumentar o engajamento de seus alunos.</p>
            <button>Cadastre-se gratuitamente</button>
        </div>
    </main>
    <section class="section-slider" id="funcionalidades">
        <div class="slider-container">
            <div class="item" id="item-1">
                <img src="/images/landing-page/ranking-icon.svg" alt="Ícone de uma medalha simbolizando o ranking.">
                <p><strong>Ranking</strong></p>
                <p>Atividades entregues geram pontos para o aluno.</p>
            </div>
            <div class="item" id="item-2">
                <img src="/images/landing-page/chat-icon.svg" alt="Ícone de dois balões de conversa simbolizando o chat entre alunos.">
                <p><strong>Chat da turma</strong></p>
                <p>Bate-papo em tempo real entre os alunos.</p>
            </div>
            <div class="item" id="item-3">
                <img src="/images/landing-page/engage-icon.svg" alt="Ícone de 3 pessoas com balões de conversa simbolizando a interação entre alunos.">
                <p><strong>Engajamento</strong></p>
                <p>Alunos engajados ao longo de todo o curso.</p>
            </div>
        </div>
    </section>
    <section class="contact-us" id="form-contact">
        <div class="main-box">
            <h2>Contate-nos</h2>
            <p>Envie sua dúvida, sugestão ou outros assuntos através do formulário.</p>
            <form class="form" method="POST" action="/contato/sucesso">
                <input class="styled-input" type="text" name="name" placeholder="Nome" />
                <input class="styled-input" type="email" name="email" placeholder="E-mail" />
                <textarea class="styled-input" rows="5" type="text" name="message" placeholder="Mensagem" /></textarea>
                <div class="agree">
                    <input type="checkbox" name="terms" id="terms" data-val="true" and value="true" />
                    <label for="terms"><p>Eu li e concordo com os <a href="#">Termos de Uso</a>.</p></label>
                </div>
                <button class="submit-button" type="submit">Enviar Mensagem</button>
            </form>
        </div>
    </section>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>