<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../images/signup-signin/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="../stylesheets/signup-signin/global.css" />
		<link rel="stylesheet" href="../stylesheets/signup-signin/header.css" />
		<link rel="stylesheet" href="../stylesheets/signup-signin/sign-up.css" />
		<link rel="stylesheet" href="../stylesheets/signup-signin/footer.css" />
		<title>elevel - Cadastre-se</title>
	</head>
	<body>
		<header>
			<div class="container">
				<img src="../images/signup-signin/logo.png" alt="Logo Placeholder" class="logo" />
				<a href="#">
					<img class="hamburger-menu" src="../images/signup-signin/hamburguer.svg" alt="Botão do menu" />
				</a>
				<nav class="navbar">
					<a href="#" class="menu-item">Sobre</a>
					<a href="#" class="menu-item">Funcionalidades</a>
					<a href="#" class="menu-item">Preços e planos</a>
					<a href="#" class="menu-item sign-in">Cadastre-se</a>
					<a href="#" class="menu-item sign-up">Login</a>
				</nav>
			</div>
		</header>
		<main>
			<div class="container-main">
				<div class="main-box">
					<h1>Criar uma conta</h1>
					<p class="main-text">Já possui uma conta? Faça seu <a href="" class="main-text-link">login</a></p>

					<form class="form" method="POST" action="/sign-up">
						<div class="name-box">
							<input class="styled-input input-box" type="text" name="nome" id="nome" placeholder="Nome" />

							<input class="styled-input input-box" type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" />
						</div>
						<input class="styled-input" type="email" name="email" id="email" placeholder="E-mail" />

						<input class="styled-input" type="password" name="senha" id="senha" placeholder="Crie uma senha" />

						<input
							class="styled-input"
							type="password"
							name="confirmacaoSenha"
							id="confirmacaoSenha"
							placeholder="Confirme sua senha"
						/>
						<span>
							<p>Eu sou:</p>
							<input type="radio" name="tipoUser" value="aluno" id="aluno" checked /> <label for="aluno">Aluno</label>
							<input type="radio" name="tipoUser" value="professor" id="professor" /> <label for="professor">Professor</label>
						</span>

						<div class="agree">
							<input type="checkbox" name="termos" id="termos" data-val="true" and value="true" />
							<label for="agree">Eu li e concordo com os <a href="#">Termos de Uso</a></label>
						</div>
						<button class="submit-button" type="submit">Continuar</button>
					</form>
				</div>
			</div>
			<img src="../images/signup-signin/signin-image.jpg" class="image-join" alt="" />
		</main>
		<footer>
			<p>© 2021 <strong>Projeto Integrador</strong> . Todos os direitos reservados.</p>
			<p><a href="#">Política de Privacidade</a> · <a href="#">Termos de Uso</a></p>
		</footer>
	</body>
</html>
