<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/global.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/landing-page/landing-page.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/landing-page/success.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>elevel - Eleve o aprendizado ao próximo nível.</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <h2>Agradecemos seu contato.</h2>
        <p>Recebemos sua mensagem e em breve retornaremos.</p>
        <button>Continuar navegando</button>
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>