form {
  padding-right: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#profileForm {
  margin-bottom: 20px;
}

input {
  padding: 12px;
  margin: 3px 0 0 0;
  border-radius: 5px;
  border: 1px solid grey;
}

label,
.avatar-text {
  font-size: 13px;
  color: grey;
  margin: 10px 0 0 0;
  font-family: 'Montserrat', sans-serif;
}

.password-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid grey;
}

.error {
  display: none;
  font-family: 'Sarabun', sans-serif;
  font-size: 11px;
  color: var(--magenta-dark);
  padding-left: 5px;
}

.show {
  display: block;
}

/* FIM FORMS */

@media (min-width: 601px) {
  aside .close {
    display: none;
  }

  form {
    max-width: 60%;
  }
}
