* {
	box-sizing: border-box;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	padding: 15px;
	background-color: #ccc;
}

.logo {
	width: 40%;
}

.navbar {
	display: none;
}

.container-main {
	margin: 50px 30px 0 30px;
}

.image-join {
	display: none;
}

h1 {
	font-weight: 700;
	font-size: 24px;
}

.main-text {
	margin-top: 5px;
	font-size: 14px;
}

.main-text-link {
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.name-box {
	display: flex;
	flex-direction: column;
}

.styled-input {
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	padding: 5px 5px;
	font-size: 14px;
	border: solid 1px #cccccc;
	color: #000;
	border-radius: 4px;
}

.agree {
	margin-top: 15px;
	padding: 0 10px;
	font-size: 13px;
	display: flex;
	align-items: center;
}

.agree > label {
	margin-left: 5px;
}

.agree > label > a {
	font-weight: 700;
	text-decoration: none;
	color: #000;
	font-size: 13px;
}

.submit-button {
	background-color: #8a8a8a;
	border-radius: 4px;
	border: 1px solid #8a8a8a;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 6px 24px;
	text-decoration: none;
	margin-top: 40px;
}

.submit-button:hover {
	background-color: #a8a8a8;
}

.submit-button:active {
	position: relative;
	top: 1px;
}

footer {
	display: flexbox;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 10px;
	width: 100%;
	background-color: #cccccc;
}

footer > p {
	font-size: 12px;
	text-align: center;
}

footer > p > a {
	color: #000000;
}

@media (min-width: 768px) {
	.logo {
		max-width: 200px;
	}

	header {
		padding: 5px 10px;
	}

	.navbar {
		display: block;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar > a {
		background-color: #8a8a8a;
		border-radius: 4px;
		border: 1px solid #8a8a8a;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 700;
		padding: 6px 24px;
		text-decoration: none;
		margin-right: 20px;
	}
}

@media (min-width: 1279px) {
	.image-join {
		display: block;
		max-width: 50%;
		height: auto;
	}

	main {
		display: flex;
		height: calc(100vh - 154px);
		justify-content: space-around;
	}

	.container-main {
		width: 50%;
		align-self: center;
		margin: 0 auto;
	}

	.main-box {
		margin: 12%;
		border: solid 1px #ccc;
		padding: 9%;
	}

	.name-box {
		flex-direction: row;
		justify-content: space-between;
	}

	.input-box {
		width: 49%;
	}

	.footer {
		height: 65px;
		display: flex;
	}
}
