header {
	padding: 20px;
	background-color: var(--blue-dark);
  }
  
  .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .logo {
	width: 40%;
	height: auto;
  }
  
  .navbar {
	display: none;
  }
  
  @media (min-width: 610px) {
	.logo {
	  max-width: 200px;
	}
	.hamburger-menu {
	  max-height: auto;
	}
  }
  
  @media (min-width: 930px) {
	.hamburger-menu {
	  display: none;
	}
  
	header {
	  padding: 5px;
	  background-color: var(--blue-dark);
	}
  
	.container {
	  margin: 30px 30px;
	}
  
	.navbar {
	  display: block;
	}
  
	.menu-item {
	  display: inline-block;
	  cursor: pointer;
	  color: #ffffff;
	  font-size: 16px;
	  text-decoration: none;
	  margin-right: 17px;
	}
  
	.menu-item:hover {
	  text-decoration: underline;
	}
  
	.sign-in {
	  border-radius: 10px;
	  border: 0.5px solid var(--white);
	  display: inline-block;
	  cursor: pointer;
	  color: #ffffff;
	  padding: 5px 10px;
	  text-decoration: none;
	  margin-right: 10px;
	}
  
	.sign-in:hover {
	  text-decoration: none;
	  background: var(--white);
	  color: var(--blue-dark);
	}
  
	.sign-up {
	  background-color: var(--magenta-dark);
	  border-radius: 10px;
	  border: 0.5px solid var(--magenta-dark);
	  display: inline-block;
	  cursor: pointer;
	  color: #ffffff;
	  padding: 5px 10px;
	  text-decoration: none;
	  margin-right: 20px;
	}
	.sign-up:hover {
	  border-color: var(--white);
	  background: var(--white);
	  color: var(--magenta-dark);
	  text-decoration: none;
	}
  }