/* Coolors Exported Palette - https://coolors.co/1c375b-6f8197-c5c5c5-ec5077-e31151 */

/* CSS HEX */
--prussian-blue: #1c375bff;
--slate-gray: #6f8197ff;
--silver: #c5c5c5ff;
--blush: #ec5077ff;
--amaranth: #e31151ff;

/* CSS HSL */
--prussian-blue: hsla(214, 53%, 23%, 1);
--slate-gray: hsla(213, 16%, 51%, 1);
--silver: hsla(0, 0%, 77%, 1);
--blush: hsla(345, 80%, 62%, 1);
--amaranth: hsla(342, 86%, 48%, 1);

/* SCSS HEX */
$prussian-blue: #1c375bff;
$slate-gray: #6f8197ff;
$silver: #c5c5c5ff;
$blush: #ec5077ff;
$amaranth: #e31151ff;

/* SCSS HSL */
$prussian-blue: hsla(214, 53%, 23%, 1);
$slate-gray: hsla(213, 16%, 51%, 1);
$silver: hsla(0, 0%, 77%, 1);
$blush: hsla(345, 80%, 62%, 1);
$amaranth: hsla(342, 86%, 48%, 1);

/* SCSS RGB */
$prussian-blue: rgba(28, 55, 91, 1);
$slate-gray: rgba(111, 129, 151, 1);
$silver: rgba(197, 197, 197, 1);
$blush: rgba(236, 80, 119, 1);
$amaranth: rgba(227, 17, 81, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-right: linear-gradient(90deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-bottom: linear-gradient(180deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-left: linear-gradient(270deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-top-right: linear-gradient(45deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-bottom-right: linear-gradient(135deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-top-left: linear-gradient(225deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-bottom-left: linear-gradient(315deg, #1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);
$gradient-radial: radial-gradient(#1c375bff, #6f8197ff, #c5c5c5ff, #ec5077ff, #e31151ff);