@charset "utf-8";
*{
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}

header > div > img {
    border-radius: 100%;
    height: 64px;
    width: 64px;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0,5px solid gray;
    background: rgba(244, 243, 243, 0.5);
    box-shadow: 1px black;
    flex-wrap: wrap;
}
header > div {
    display:flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    font-family: montserrat;
}
img.card{
    width: 100px;
    display:flexbox;
}
.card {
display:grid;
padding: 30px;
width: 300px;
height: 300px;
box-shadow: 0 0 5px 0px black;
cursor: pointer;
border-radius: 10px;
justify-content: center;
align-items: center;
}
.card:after,
.card:before{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0px;
    transition: transform .3s ease-in-out;
}

.card:before{
    border-left: 1px solid black;
    border-right: 1px solid black;
    transform: scaleY(0);
}
.card:after{  
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    transform: scaleX(0);
}

.card:hover:before{
    transform: scaleY(1);
}
.card:hover:after{
    transform: scaleX(1);
}

#title{
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    margin-left: 50px;
    display:flexbox;

}
    img#title {
        position: relative;
        left: 450px;
        display:flexbox;
    }
#pesquisa{
        display: flexbox;   
        margin-top: 40px;
        box-sizing: border-box;
    }
    #pesquisa > input {
        border-radius: 24px; 
        border: 1px solid #dfe1e5; 
        padding: 8px 30px;
        outline: none;
        font-family: montserrat;
        font-size: auto;
        text-align: center;
    }
#pesquisa{
    position:relative;
    bottom: 100px;
    right: 20px;
}
button{
    display:flexbox;   
    margin-top: 10px auto;
    border-radius: 50px; 
    border: 1px solid #dfe1e5; 
    padding: 5px 8px;
    outline: none;
    font-family: montserrat;
    text-align: center;
    box-sizing: border-box;
}
button{
    position: relative;
    bottom: 135px;
    left: 20px;
    display:flexbox;
}

.troféu {
    position: relative;
    left: 308px;
    display:flexbox;
}
.perfil{
    display:flexbox;
    width: 50px;
    position: relative;
    right: 30px;
    top:5px;
}
.exit{
    position: relative;
    bottom: 30px;
    left:30px;
}
.nomeuser{
    position: relative;
    right: 70px;
    top: 10px;
}
.card{
    position: relative;
    left: 517px;
    bottom: 50px
}
.primeirolugar{
    display: grid;
    margin: 0px;
    padding: 8px 30px;
    border-radius: 25px;
    border: 1px solid black;
    height: 30px;
    text-align: center;
    justify-content: center;
}
#Fotoperfil{
    display:flexbox;
    margin: auto;
    padding-left: 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    position: relative; 
    left: 0px;
}
#foto1{
    position: absolute;
    bottom: 220px;
    right: 220px;
    background: transparent;
}
.primeirolugar{
    display: grid;
    margin: 0px;
    padding: 8px 30px;
    border-radius: 25px;
    border: 1px solid black;
    height: 30px;
    text-align: center;
    justify-content: center;
}
.card2 {
    display:grid;
    padding: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 5px 0px black;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    }
    .card2:after,
    .card2:before{
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0px;
        transition: transform .3s ease-in-out;
    }
    
    .card2:before{
        border-left: 1px solid black;
        border-right: 1px solid black;
        transform: scaleY(0);
    }
    .card2:after{  
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        transform: scaleX(0);
    }
    
    .card2:hover:before{
        transform: scaleY(1);
    }
    .card2:hover:after{
        transform: scaleX(1);
    }
#Fotoperfil{
    display:flexbox;
    margin: auto;
    padding-left: 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    position: relative; 
    left: 0px;
}
#foto2{
    position: absolute;
    bottom: 220px;
    right: 220px;
    background: transparent;
}
.card2{
    position: relative;
    left: 100px;
    bottom: 300px
}